{% extends "layout.html" %}

{% block content %}

    <div class="dividereighth"></div>
    <h1>Sign Up</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="/register" method="post">
        <label>Username:</label>
        <input type="text" rows="30" name="username" autocomplete="off" required>
        <label>Password:</label>
        <input type="password" rows="30" name="password" required>
        <label>Re-type Password:</label>
        <input type="password" rows="30" name="retype" required>
        <button action="submit">Submit</button>
    </form>

{% endblock %}