body {
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(26, 75, 222);
    padding: 15px 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.478);
    position: absolute;
    width: calc(95% + 2px);
}

header div {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    gap: 5%;
    width: 100%;
    height: 100%;
}

header a {
    color: white;
    text-decoration: none;
    font-family: Roboto;
    font-size: large;
}

header .x-large {
    color: white;
    font-family: Roboto;
    font-size: x-large;
}

main {
    padding: 20px;
    display: grid;
    justify-items: center;
}

main * {
    text-shadow: rgba(0, 0, 0, 0.212) 0 0 25px;
}

h1, h2, h3 {
    color: black;
    font-family: Roboto;
}

h1 {
    font-size: 65px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
    color: black;
}

p {
    color: gray;
    font-family: Roboto;
    font-size: 20px;
}

button {
    background: linear-gradient(20deg,rgb(20, 57, 167), rgb(26, 75, 222), rgb(60, 106, 245));
    width: 10vw;
    height: 4vw;
    color: white;
    font-size: 30px;
    border-radius: 20px;
    border: 3px solid rgb(26, 75, 222);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.478);
}

.dividerwhole {
    height: 80vh;
}

.dividerhalf {
    height: 40vh;
}

.dividerquarter {
    height: 20vh;
}

.dividereighth {
    height: 10vh;
}

.dividersixteenth {
    height: 5vh;
}

.box {
    border-radius: 25px;
    width: 150px;
    height: 150px;
}

.blue {
    background: linear-gradient(45deg, rgb(60, 106, 245), rgb(26, 75, 222), rgb(20, 57, 167));
}

img {
    width: 300px;
    height: 300px;
}

form {
    width: 60%;
    max-width: 900px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: rgb(227, 227, 227);
    border-radius: 25px;
    box-shadow: 0 0 15px lightgray;
}

form input {
    margin-bottom: 25px;
    height: 3vh;
    font-size: large;
    border-radius: 10px;
    border: 2px solid rgb(241, 241, 241);
    background-color: rgb(241, 241, 241);
}

form button {
    height: 3vw;
    width: 100%;
}

label {
    font-size: medium;
    font-weight: 700;
    font-family: Roboto;
    margin-bottom: 5px;
}

span {
    color: rgb(255, 225, 52);
    text-shadow: 0 0 15px rgb(255, 236, 131);
}

.error {
    padding: 15px;
    background-color: rgb(255, 48, 48);
    border: 2px solid red;
    color: white;
    font-size: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.703);
}

.gray {
    color: gray;
}

#goal-container {
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

.goal-widget {
    width: 15vw;
    height: 10vw;
    max-width: 500px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background-color: rgb(227, 227, 227);
    border-radius: 25px;
    box-shadow: 0 0 15px lightgray;
}

.goal-widget h3 {
    margin: 10px;
}

.progress_bar {
    width: 80%;
    height: 15px;
    background-color: lightgray;
    border-radius: 5px;
}

.progress {
    height: 100%;
    background-color: yellow;
    border-radius: 5px;
}