{% extends "layout.html" %}

{% block content %}

    <!--Hero Section-->
    <div class="dividerquarter"></div>
    <h1 class="draw">Track Your fitness Journey <span class="last-word">Mindfully.</span></h1>
    <h3>Quickly and easily record, view, and customize workouts.</h3>
    <button id="Start">Get Started</button>
    <!--Insert a video or something demonstrating the website-->

    <div class="dividerhalf"></div>
    
    <!--<img src="../static/content/dumbbell.png" class="dumbbell">-->

    <div class="dividerhalf"></div>

    <!--Features Section-->
    <h2>Why Choose Mindful Muscle?</h2>
    <h3>Ease of use</h3>
    <p>Record a workout in just a few taps</p>
    <div class="dividerhalf"></div>
    <!--Description / Animation-->
    <h3>Connectivity</h3>
    <p>Create workouts with friends, easily</p>
    <div class="dividerhalf"></div>
    <!--Description / Animation-->
    <h3>Smart Reccomendations</h3>
    <p>Use AI to optimize workout plans</p>
    <!--Description / Animation-->

    <div class="dividerwhole"></div>

    <!--How it Works-->
    <h2>How it works</h2>
    <p>Create an account</p>
    <p>Tap "add workout"</p>
    <p>Describe the workout</p>
    <p>Done!</p>
    <!--My Idea here is to have a phone or something on the side that is taking the steps, with the intructions on the left-->

    <div class="dividerwhole"></div>
    <script src="../static/dynamicButton.js"></script>

{% endblock %}